.usermenu {
  display: flex;
  gap: 0.5em;
  @media (max-width: 768px) {
    top: 0;
    right: 0;
    height: 100vh;
    width: 40vw;
    position: fixed;
    background-color: #959595;
    z-index: 1;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    font-size: 25px;
    &-open {
      transform: translateX(0);
    }
  }
  @media (max-width: 600px) {
    width: 100%;
  }

   &_username {
    line-height: 1em;
    padding: 0.5em 0 0.5em 1em;
    text-transform: none;
  }
}
