.form {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  width: 60vw;
  min-width: 200px;
  max-width: 400px;

  &__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__input {
    outline: none;
    padding: 0.5em;
    border: 1px solid #aaaaaa;
    background-color: rgb(255 255 255);
    transition: 0.1 s;
    font-size: 1.3rem;
    
    &:focus, &:active {
      border-width: 1px;
      border-color: #868686;
      background: #fffcce;
    }

    &-error {
      background: #ffcece;
      border-color: #e51515;
    }
  }

  &__error {
    color: #ff2b2b;
  }
}

@media only screen and (max-width: 600px) {
  .form {
    row-gap: 1rem;

    &__label, &__input {
      font-size: 1.2rem;
    }
  }
}