.modal {
  top: 45%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -100%);
  position: absolute;
  inset: 50% auto auto 50%;
  border: 1px solid rgb(134 132 132);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 1.5em;
  width: 50vw;
  min-width: 320px;
  max-width: 500px;

  &__overlay {
    background-color: rgb(48 48 48 / 58%) !important;
    position: fixed;
    inset: 0px;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0.4em;
    background: transparent;
    border: 0;
    font-size: 1.6em;
    cursor: pointer;
  }

  &__button {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    position: relative;
    color: #585858;
    font-size: 0.85em;
    border: 1px solid rgb(138 138 138);
    background: #cccccc;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    min-width: 6em;

    &:hover {
      background: #aaaaaa;
    }
  }
}