.empty_task {
  width: 100%;
  height: 100%;
}

.over .placeholder {
  opacity: 1;
}

.placeholder {
  width: 100%;
  height: 100px;
  background-color: #dcdcdc;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}