.boards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;

  &__item {
    display: flex;
    gap: 0.6em;
    width: 100%;
    padding: 0.5em;
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 0px;
    border-color: #ebebeb;
    border-style: solid;
    align-items: center;

    &:nth-child(odd) {
      background: rgb(245 245 245);
    }

    &:last-child{
      border-bottom: 1px solid #ebebeb;
    }

    &:hover {
      background: #fffcce;
    }

    @media (max-width: 460px) {
      width: 100%;
      flex-direction: column;
      padding: 1em;
      font-size: 1.3em;
    }
  }

  &__col-narrow {
    flex: 1;
    max-width: 60px;
  }

  &__col {
    flex: 8;
    cursor: pointer;
  }
}
