.task {
  width: 100%;
  padding-bottom: 10px;

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    border: 1px solid #345DEE;
    border-radius: 5px;
    background: white;
    cursor: pointer;
  }

  &__title {
    margin: 0 0 10px 0;
  }

  &__description {
    margin: 0;
    color: #333333;
  }

  &__dragging {
    opacity: 0.3;
  }

  &__emerging {
    opacity: 0;
    transition: all 0.5s ease;
  }

  &:hover &__emerging {
      opacity: 1;
  }

  &__over {
    opacity: 0.3;
  }
}
