.task {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #345DEE;
  border-radius: 5px;
  background: white;
  cursor: pointer;

  &__title {
    margin: 0 0 10px 0;
  }

  &__description {
    margin: 0;
    color: #333333;
  }
}